* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: lightgray;
    font-size: 1.5rem;
}

#container {
    width: 1200px;
    background-color: white;
    margin: 5% auto;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    margin-bottom: 2%;
}

#logoupto, #logothierache {
    height: 14rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    width: 20%;
}

#logoupto {
    background-image: url("logoupto.png");
}

#logothierache {
    background-image: url("logoface.png");
}

#titre {
    height: 14rem;
    display: flex;
    align-items: center;
    font-size: 4rem;
    font-weight: bold;
    font-style: italic;
}

main {
    width: 90%;
    margin-left: 5%;
}
form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 1px solid black;
}

label {
    font-size: 2rem;
    font-weight: bold;
}

form div {
    width: 45%;
    margin-left: 2%;
    display: flex;
    margin-top: 2%;
}

input, textarea {
    flex-grow: 1;
    margin-left: 2%;
    padding: 1%;
    font-size: 2rem;
}

section {
    padding-bottom: 5%;
}

select {
    margin-left: 2%;
    font-size: 2rem;
    padding: 1%;
    flex-grow: 1;
}

form div:nth-child(11) {
    width: 92%;
    column-count: 4;
}

a {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 2%;
}

@media screen and (max-width: 1200px){
    #container {
        width: 100%;
        margin: 0;
    }

    select {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 950px){
    form {
      flex-direction: column;
      justify-content: center;
    }

    form div:nth-child(11) {
        width: 95%;
    }

    input, textarea, label {
        font-size: 1.5rem;
    }

    select {
        font-size: 1rem;
    }

    form div {
        width: 95%;
    }

    #titre {
        font-size: 2.3rem;
    }
}

@media screen and (max-width: 650px) {
    #logothierache, #logoupto {
        display: none;
    }

    #titre {
        height: 5rem;
    }

    main {
        margin: 0;
        width: 100%;
    }

    section {
        padding-bottom: 0;
    }
}